@model Marketplace.Admin.ViewModels.ServiceGridPaginationModel

@{
    ViewBag.Title = "TCC Marketplace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="filter-search">
    <div class="fl-search pull-left">
        <input type="text" name="" value="" placeholder="Key words" id="txtKeyWords" />
        <input type="submit" class ="btn" name="submit" value="" id="btnSearch" />
    </div>
    <div class="select-style pull-left">

        @Html.DropDownList("CountryList", (IEnumerable<SelectListItem>)TempData["Countries"], "Country")

    </div>
    <div class="select-style pull-left">
        <select id="StateList" , name="StateList">
            <option value="0" disabled selected>State</option>
        </select>
    </div>
    <div class="pull-left">
        <input id="txtThermostsat" type="text" name="" value="" placeholder="Thermostat models" class="flt-thermo" />
        <input id="txtSCF" type="text" name="" value="" placeholder="SCF" class="flt-scf" />
        <input id="txtZipCode" type="text" name="" value="" placeholder="ZIP code" class="flt-scf" />
        <input id="btnGo" type="button" name="" value="GO" class="filter-btn">
    </div>
</div>
<img src="~/Content/images/addnew.png" />
<div class="clear"></div>
<div class="service-table clear">
    <div class="srv-table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" id="servicesGrid">
            <tr>
                <th width="5%" style="text-align:center">#</th>
                <th width="34%" align="left"> &nbsp;Title & short description</th>
                <th width="6%">Type</th>
                <th width="13%">Product ID</th>
                <th width="7%">Country</th>
                <th width="10%">State</th>
                <th width="9%">Start date</th>
                <th width="9%">End date</th>
                <th width="3%">Status</th>
                <th width="5%">Edit</th>
            </tr>
           </table>
    </div>
</div>
<div class="pagination">
</div>

@section scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/serviceList")

}
