<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=mktplcstorage;AccountKey=KRNIkIgtbGgag6erS6qkjuYEVEYhbYrQjcm/nGfQmp41a+A0QhV7Sa1CrBZq32ysuEznQykavuq8KUM4xCR6jg==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=mktplcstorage;AccountKey=KRNIkIgtbGgag6erS6qkjuYEVEYhbYrQjcm/nGfQmp41a+A0QhV7Sa1CrBZq32ysuEznQykavuq8KUM4xCR6jg==" />
    <add name="MarketplaceAdminDb" connectionString="Data Source=mktplcsql.database.windows.net;Initial Catalog=mktplcqa;Integrated Security=False;User ID=tccmktplc@mktplcsql;Password=TheNumber8ty0ne;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SSH_Private_Key_File" value="HW_MP_PrivateKey.ppk" />
    <!--<add key="FTP_HostAddress" value="14.141.33.202"/>
    <add key="FTP_Port" value="2122"/>
    <add key="Ftp_User" value="tccmarketplace"/>
    <add key="SSH_Private_Key_File" value="HW_MP_PrivateKey.ppk"/>
    <add key="SSH_Private_Key_Pwd" value="TheNumber7"/>
    <add key="FTP_RemotePath" value="/mnt/data_500G/tccmarketplace/"/>

    -->
    <!--<add key="FTP_HostAddress" value="eft.infogroup.com"/>
    <add key="FTP_Port" value="10022"/>
    <add key="Ftp_User" value="MHCM3RT"/>
    <add key="SSH_Private_Key_File" value="HW_MP_PrivateKey.ppk"/>
    <add key="SSH_Private_Key_Pwd" value="TheNumber7"/>
    <add key="FTP_RemotePath" value="/MHCM3RT/"/>-->
    <!--


    <add key="FromEmail" value="azure_4746a01d067c4bdb2cb6b325000e07cc@azure.com"/>
    <add key="ToEmail" value="ajith@performixbiz.com"/>
    <add key="SMTPClient" value="smtp.sendgrid.net"/>
    <add key="SMTPPwd" value="F2zkVhp28oVh3FY"/>
    <add key="SMTPPort" value="587"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>