<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--<add key="MarketPlaceUrl" value="https://localhost:3307/" />
    <add key="MarketPlaceDetailsUrl" value="https://localhost:3307/#/MarketPlaceDetails/" />-->

    <add key="MarketPlaceUrl" value="https://mktplcweb.azurewebsites.net/" />
    <add key="MarketPlaceDetailsUrl" value="https://mktplcweb.azurewebsites.net/#/MarketPlaceDetails/" />
    
    <add key="YLM.ApiUrl" value="http://test.api.infoconnect.com/hw_mktpl/v1/" />
    <add key="YLM.Api_Key" value="GEe5xWXeMn4wTAaijBfpXCVGsy1qWhHM" />
    <add key="EncryptionKey" value="UJWDNCGK2LD324FR723KDSB" />
       
    <add key="TCC.AuthApiUrl" value="https://qtccna.honeywell.com/TrueHomeStage/Auth/Oauth/Token" />
    <add key="TCC.IdentityApiUrl" value="https://qtccna.honeywell.com/TrueHomeStage/WebApi/api/identity" />
    
    <add key="TCC.AppId" value="53cd5e17-0def-468d-9ede-c60f808ddb1b" />
    <add key="TCC.Secret_Key" value="5e46789d-2ecd-45ed-bc57-00124b88d713" />
    <add key="jwtSecretKey" value="q052Th33Vn4z2rJs2UH2fVGvjc5nIe68" />
    <add key="owin:AutomaticAppStartup" value="false" />

    <add key="Cache.Duration" value="20" />
    <add key="Cache.Mode" value="Distributed" />
    <!-- Options are InProcess or Distributed. If Distributed, the provide Redis connection string -->
    <add key="Cache.Client" value="MarketPlace" />
    <add key="Cache.RetryCount" value="3" />
    <!-- Timeout is in milliseconds-->
    <add key="Cache.ConnectTimeout" value="2000" />
    
    <add key="Application.Environment" value="test" />

  </appSettings>
  <connectionStrings>
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=mktplcstorage;AccountKey=KRNIkIgtbGgag6erS6qkjuYEVEYhbYrQjcm/nGfQmp41a+A0QhV7Sa1CrBZq32ysuEznQykavuq8KUM4xCR6jg==" />
    <add name="AzureRedisCache" connectionString="mktplcqa.redis.cache.windows.net:6380,password=+dYB6j6i0JSLqbB/ThJOqtP2PREQ8OuAgc27y1rmIys=,ssl=True,abortConnect=False" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <globalization uiCulture="en" culture="en-US" />
  </system.web>

  <log4net debug="true">
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Logger" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TCCMarketPlace.Log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.25M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="EventLogAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
