@model Marketplace.Admin.ViewModels.CustomHandleErrorModel


@{
    ViewBag.Title = "Error";
}

@*@{
    Guid execptionIdentifier = Guid.NewGuid();
    LogManager.Instance.Log(CustomExceptionFilterAttribute.ComposeExceptionLog
        (Model.ControllerName, Model.ActionName, Model.Exception, execptionIdentifier),
        Model.Exception, LogLevelEnum.Error);
}*@
<h2 style="color:red">Something went wrong!</h2>
Please contact your administrator with the identifier - <b>@Model.ExceptionIdentifier</b>


